@import '../_define';

.wrap {
  align-items: center;
  background: $highGray;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 25px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  max-width: 320px;
  overflow: hidden;

  > img {
    display: block;
    height: 140px;
    object-fit: cover;
    width: 100%;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  &_inner {
    padding: 15px;
  }

  dl {
    align-items: center;
    color: $deepGray;
    display: flex;
    font-size: 1.3rem;

    dt {
      margin-right: 5px;
    }

    dd > span:nth-last-child(n+2)::after {
      content: '/';
      margin: 0 2px;
    }
  }

  &_footer {
    margin-top: 15px;
    text-align: right;
  }

  a {
    background: $mainColor;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    padding: 9px 10px 7px;
    text-decoration: none;
  }
}
