@import '../_define';

.wrap {
  background: $mainColor;
  padding: 35px 25px;
}

.circle {
  align-items: center;
  background: lighten($mainColor, 10%);
  border-radius: 100%;
  color: #fff;
  display: flex;
  height: 250px;
  justify-content: center;
  margin: 40px auto 0;
  text-align: center;
  width: 250px;

  &_bonus {
    background: #ccc;
    composes: circle;
  }
  
  &_title {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
  }

  &_money {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 10px;

    > span {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 5px;
    }
  }
}

.term {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;

  > p {
    padding: 0 10px;
  }
}

.switch {
  margin-top: 25px;
  text-align: center;

  > p {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 3px;
  }
}

.bottom {
  padding: 25px;
  text-align: center;
}