*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI',
    'Helvetica Neue', HelveticaNeue, YuGothic, 'Yu Gothic Medium', 'Yu Gothic',
    Verdana, Meiryo, sans-serif;
  font-feature-settings: 'palt';
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.8;
  min-width: 320px;
  word-break: break-all;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  border: none;
}

.app {
  padding: 25px;

  > h1 {
    font-size: 28px;
    margin: 0;
    margin-top: 5px;
    text-align: center;
  }

  > img {
    display: block;
    margin: 0 auto;
    width: 240px;
  }

  &_subTitle {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0%;
    margin-top: 35px;
    text-align: center;
  }

  &_text {
    color: #343842;
    font-size: 14px;
    line-height: 1.9;
    margin: 40px 0;
    text-align: center;
  }
}