@import '../_define';

.wrap {
  background: $highGray;
  bottom: 0;
  left: 0;
  padding-top: 75px;
  position: fixed;
  right: 0;
  top: 0;
}

.image {
  padding: 0 25px;

  > img {
    display: block;
    margin: 40px auto;
    width: 250px;
  }
}

.link {
  text-align: center;
}