@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Noto+Sans+JP:wght@400;500;700&display=swap');

* {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  min-height: 0;
  min-width: 0;
  outline: 0;
  overflow-wrap: break-word;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: $textColor;
  font-family: 'Kumbh Sans', 'Noto Sans JP', sans-serif;
  font-feature-settings: 'palt';
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.8;
  margin: 0 auto;
  max-width: 375px;
  min-width: 320px;
  overflow-y: hidden;
  word-break: break-all;
}

a {
  color: $mainColor;
}

li {
  list-style: none;
}
