@import '../styles/define';

.button {
  background:linear-gradient($mainColor, $subColor);
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  padding: 17px 30px;
  width: 275px;  
}

.disabled {
  background: $deepGray;
  composes: button;
}
