@import '../styles/define';

.header {
  left: 0;
  margin: 0 auto;
  max-width: 375px;
  position: fixed;
  right: 0;
  top: 0;
}

.inner {
  align-items: center;
  display: flex;
  padding: 15px 25px 0;
}

.return {
  > svg {
    display: block;
    stroke: $subColor;
  }
}