@import '../styles/define';

.wrap {
  align-items: baseline;
  border-bottom: 1px solid $mainColor;
  display: flex;

  > label {
    color: $deepGray;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    min-width: 110px;
  }

  > input {
    border-radius: 0;
    font-size: 3rem;
    padding: 5px;
    text-align: right;
    width: 100%;
  }

  > span {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  > li {
    border: 1px solid $mainColor;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1;
    margin-right: 5px;
    padding: 7px 7px 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}
