@import '../styles/define';

.step {
  padding: 0 25px;
}

.title {
  font-size: 2.3rem;
  font-weight: normal;
}

.text {
  color: $deepGray;
  font-size: 1.2rem;
  line-height: 1.5;
  white-space: pre-wrap;
}

.nav {
  font-size: 1.4rem;
  letter-spacing: 0.7px;

  > span {
    color: $mainColor;
  }
}