@import '../styles/define';

.unit {
  position: relative;

  > p {
    color: $deepGray;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    min-width: 60px;
  }

  > div {
    width: 100%;
  }

  > svg {
    bottom: 17px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    stroke: $deepGray;
  }

  input {
    background: $highGray;
    border-radius: 5px;
    font-size: 1.8rem;
    margin-top: 5px;
    padding: 14px 15px 15px;
    width: 100%;
  }

  &+.unit {
    margin-top: 20px;
  }
}