@import '../styles/define';

.home {
  padding: 25px;

  > h1 {
    color: $subColor;
    font-size: 2.8rem;
    line-height: 1.4;
    text-align: center;
  }

  > img {
    display: block;
    margin: 0 auto;
    width: 220px;
  }

  &_subTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0%;
    margin-top: 35px;
    text-align: center;
  }

  &_text {
    color: #343842;
    font-size: 1.4rem;
    line-height: 1.9;
    margin: 40px 0;
    text-align: center;
  }

  button + button {
    margin-top: 10px;
  }
}