@import '../styles/define';

.iconButton {
  align-items: center;
  background-color: $deepGray;
  border-radius: 2.5rem;
  display: flex;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  padding: 20px 30px;
  width: 100%;

  &.-high {
    background-color: $mainColor;
  }

  &.-deep {
    background-color: $subColor;
  }

  &_icon {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    height: 45px;
    justify-content: center;
    width: 45px;
  }

  &_text {
    color: #fff;
    font-weight: 700;
    margin-left: 20px;

    h2 {
      font-size: 1.5rem;
      margin-top: 3px;
    }

    p {
      font-size: 1.1rem;
      text-align: left;
    }
  }
}
