@import '../styles/define';

.simulate {
  &_header {
    // background:linear-gradient($mainColor, $subColor);
    background-color: $subColor;
    color: #fff;
    font-weight: 700;
    padding: 100px 25px 25px;
    position: relative;

    > a {
      display: block;
      left: 25px;
      position: absolute;
      top: 30px;
      z-index: 1;
    }

    > svg {
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &_result {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    display: grid;
    font-size: 3rem;
    z-index: 1;

    > p {
      font-size: 1.4rem;
    }
  }

  &_body {
    padding: 25px;

    label {
      color: $subColor;
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0 15px 5px;
    }

    input {
      background-color: $highGray;
      border-radius: 10px;
      max-width: 350px;
      padding: 15px 20px;
      width: 100%;
    }

    input + label {
      margin-top: 15px;
    }
  }
  
  &_term {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
    margin-right: -5px;

    > .react-datepicker-wrapper {
      margin-left: 5px;
      margin-right: 5px;
      width: 100%;
    }
  }

  nav {
    text-align: center;

    a {
      font-size: 1.4rem;
    }
  }
}

.tippy-box.tameruzou {
  background-color: $warning;

  .tippy-arrow {
    color: $warning;
  }
}