@import '../styles/define';

.simulate {
  &_header {
    background-color: #031a6e;
    color: #fff;
    font-weight: 700;
    padding: 120px 25px 25px;
    position: relative;

    &::after {
      background-image: url('../images/lining.svg');
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 25px;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }

    > p {
      font-size: 1.4rem;
    }

    > div {
      border-bottom: 1px solid rgba(255, 255, 255, .2);
      font-size: 3rem;
    }
  }

  &_body {
    padding: 25px;

    label {
      color: $subColor;
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      padding-left: 5px;
    }

    input {
      background-color: $highGray;
      border-radius: 10px;
      margin-top: 5px;
      max-width: 350px;
      padding: 15px 20px;
      width: 100%;
    }
  }
  
  &_term {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
    margin-right: -5px;

    > div {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 15px;
      width: 100%;
    }
  }

  &_warning {
    color: $warning;
  }

  nav {
    text-align: center;

    a {
      font-size: 1.4rem;
    }
  }
}